@font-face {
  font-family: open_sanssemibold;
  src: url(../fonts/opensans/opensans-semibold-webfont.eot);
  src: url(../fonts/opensans/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-semibold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-semibold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-semibold-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sansregular;
  src: url(../fonts/opensans/opensans-regular-webfont.eot);
  src: url(../fonts/opensans/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-regular-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-regular-webfont.woff) format("woff"), url(../fonts/opensans/opensans-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sanslight;
  src: url(../fonts/opensans/opensans-light-webfont.eot);
  src: url(../fonts/opensans/opensans-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-light-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-light-webfont.woff) format("woff"), url(../fonts/opensans/opensans-light-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sansbold;
  src: url(../fonts/opensans/opensans-bold-webfont.eot);
  src: url(../fonts/opensans/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-bold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-bold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-bold-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik SemiBold"), local("Rubik-SemiBold"), url("../fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.full-create {
  margin: 0;
}
.full-create__container {
  max-width: 1360px;
  width: 95%;
  margin: 88px auto 0;
}

.create-account {
  display: flex;
  position: relative;
}
.create-account__form {
  flex-basis: 40.294%;
  max-width: 548px;
}
.create-account__features {
  flex-basis: 31.177%;
  max-width: 424px;
  padding: 4.7%;
  margin-left: 10.8%;
}
.create-account__counter {
  position: absolute;
  max-width: 191px;
  width: 100%;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

.create-block {
  font: 400 16px "Rubik";
  color: #4A5568;
}
.create-block__title {
  margin: 0;
  font-weight: 500;
  font-size: 2.75em;
  line-height: 1.3em;
  color: #1A202C;
}
.create-block__title_highlight {
  color: #E63756;
}
.create-block__text {
  margin: 1.333em 0 0;
  font-size: 1.125em;
  line-height: 1.667em;
}
.create-block__form {
  margin-top: 4em;
}

.form-create {
  font-size: 1rem;
}
.form-create__inner {
  max-width: 318px;
}
.form-create__input {
  font: 400 1.125em/1.667em "Rubik";
  padding: 0.5em 1.333em;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #EAEAEA;
  border-radius: 0.444em;
  margin-top: 0.889em;
  color: #1A202C;
}
.form-create__input:first-child {
  margin-top: 0;
}
.form-create__input::-moz-placeholder {
  color: rgb(102, 102, 102);
}
.form-create__input:-ms-input-placeholder {
  color: rgb(102, 102, 102);
}
.form-create__input::placeholder {
  color: rgb(102, 102, 102);
}
.form-create__btn {
  font: 1em/1.362em "open_sanssemibold";
  padding: 0.813em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E63756;
  color: #FFFFFF;
  border-radius: 0.5em;
  background-color: #E63756;
  margin-top: 1em;
  cursor: pointer;
}
.form-create__agree {
  margin: 1.846em 0 0;
  font: 0.813em/1.4em "open_sansregular";
  letter-spacing: 0.019em;
}

.features-account {
  font: 400 1rem "Rubik";
  color: #1A202C;
}
.features-account__title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.4em;
}
.features-account__title_highlight {
  color: #E63756;
}
.features-account__table {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
}
.features-account__cell {
  font-size: 1.125em;
  line-height: 1.667em;
  padding-left: 1.889em;
  position: relative;
  vertical-align: middle;
}
.features-account__cell::before {
  content: "";
  height: 1.333em;
  width: 1.333em;
  background-image: url("../img/full-create/features-account_icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.features-account__text {
  font-size: 1.125em;
  line-height: 1.667em;
  color: #4A5568;
  margin: 1.778em 0 0;
}

.counter-account {
  font: 400 1rem "Rubik";
  box-shadow: 0 14.8px 24.39px rgba(28, 37, 44, 0.08);
  background-color: #FFFFFF;
  border-radius: 1.5em;
}
.counter-account__inner {
  padding: 0.875em 1.438em;
  text-align: center;
}
.counter-account__today {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.7em;
  color: #FFB402;
}
.counter-account__total-count {
  margin-top: 0.189em;
  font-size: 2.313em;
  line-height: 1em;
  color: #E63756;
}
.counter-account__text {
  margin: 0.077em 0 0;
  font-size: 0.813em;
  line-height: 1.7em;
  color: #4A5568;
}

.company {
  font: 1rem "Rubik";
  color: #4A5568;
  padding: 4em 0 7.313em;
}
.company__title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: center;
}
.company__slider {
  margin-top: 5em;
  text-align: center;
}
.company__slide {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4em;
}
.company__slide:last-child {
  margin-right: 0;
}

.accordion-module {
  font-size: 1rem;
  color: #1A202C;
}
.accordion-module__title {
  font: 500 2.75em/1.364em "Rubik";
  margin: 0;
  text-align: center;
}
.accordion-module__inner {
  margin-top: 4em;
}
.accordion-module__card {
  font-size: 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 0.625em;
  margin-top: 1.25em;
}
.accordion-module__card:first-child {
  margin-top: 0;
}
.accordion-module__head {
  border-bottom: 1px solid #EAEAEA;
  padding: 0 4.25em 0 4.25em;
  position: relative;
}
.accordion-module__head:hover {
  cursor: pointer;
}
.accordion-module__title-head {
  margin: 0;
  font: 1em/1.362em "open_sanssemibold";
  padding: 1em 0;
}
.accordion-module__disclosure {
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  background-color: #F2F5F9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.313em;
  top: 50%;
  transform: translateY(-50%);
}
.accordion-module__img-disclosure {
  width: 0.963em;
}
.accordion-module__body {
  color: #4A5568;
}
.accordion-module__body-inner {
  padding: 1.688em 4.25em 2.5em;
  max-width: 732px;
  width: 100%;
}
.accordion-module__text-body {
  font: 1.125em/1.362em "open_sansregular";
}
.accordion-module__text-body_link {
  color: #E63756;
}
.accordion-module__text-body_link:hover {
  text-decoration: none;
}

.try-module {
  font: 400 1rem "open_sansregular";
  color: #1A202C;
  padding: 4.875em;
  background-image: linear-gradient(to right, #FFECB3, #ffb5aa);
  border-radius: 0.875em;
  position: relative;
}
.try-module__inner {
  max-width: 490px;
}
.try-module__title {
  margin: 0;
  font: 500 2.5em/1.1em "Rubik";
}
.try-module__text {
  margin: 0.938em 0 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #4A5568;
}
.try-module__group-btns {
  margin-top: 1.875em;
}
.try-module__btn {
  font: 400 1em/1.875em "open_sansregular";
  border-radius: 0.5em;
  min-width: 192px;
  padding: 0.563em;
  margin-right: 1.875em;
  border: 1px solid #E63756;
  color: #FFFFFF;
  background-color: #E63756;
}
.try-module__btn:last-child {
  margin-right: 0;
}
.try-module__btn:hover {
  cursor: pointer;
}
.try-module__btn_demo {
  background-color: #FFFFFF;
  color: #E63756;
}
.try-module__ground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/modules/try/try-caricature.png");
  background-position: bottom right 74px;
  background-repeat: no-repeat;
  background-size: auto;
}/*# sourceMappingURL=full-create.css.map */