@font-face {
  font-family: open_sanssemibold;
  src: url(../fonts/opensans/opensans-semibold-webfont.eot);
  src: url(../fonts/opensans/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-semibold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-semibold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-semibold-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sansregular;
  src: url(../fonts/opensans/opensans-regular-webfont.eot);
  src: url(../fonts/opensans/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-regular-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-regular-webfont.woff) format("woff"), url(../fonts/opensans/opensans-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sanslight;
  src: url(../fonts/opensans/opensans-light-webfont.eot);
  src: url(../fonts/opensans/opensans-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-light-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-light-webfont.woff) format("woff"), url(../fonts/opensans/opensans-light-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sansbold;
  src: url(../fonts/opensans/opensans-bold-webfont.eot);
  src: url(../fonts/opensans/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-bold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-bold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-bold-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik SemiBold"), local("Rubik-SemiBold"), url("../fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.full-create {
  margin: 0;
}
.full-create__container {
  max-width: 1360px;
  width: 95%;
  margin: 88px auto 0;
}
@media (max-width: 992px) {
  .full-create__container {
    margin-top: 64px;
  }
}
@media (max-width: 768px) {
  .full-create__container {
    margin-top: 4em;
  }
}
.full-create__ground-inner {
  position: relative;
  overflow-x: hidden;
}
.full-create__ground-header {
  width: 2050px;
  background-image: linear-gradient(to top, #F7FAFC, rgba(247, 250, 252, 0));
  border-bottom-left-radius: 120% 28%;
  border-bottom-right-radius: 120% 28%;
  z-index: -1;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.full-create__ground-header_upper {
  border-bottom-left-radius: 60% 56%;
  border-bottom-right-radius: 60% 56%;
}
@media (min-width: 993px) {
  .full-create__ground-header_upper {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 992px) {
  .full-create__ground-header_lower {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 768px) {
  .full-create__try {
    margin-right: -2.5%;
    margin-left: -2.5%;
  }
}

.create-account {
  display: flex;
  position: relative;
}
@media (max-width: 992px) {
  .create-account {
    flex-direction: column;
    align-items: center;
  }
}
.create-account__form {
  flex-basis: 40.294%;
  max-width: 548px;
  margin-right: 10.8%;
}
@media (max-width: 1200px) {
  .create-account__form {
    flex-basis: 52.294%;
    margin-right: 4.8%;
  }
}
@media (max-width: 992px) {
  .create-account__form {
    margin-right: 0;
    flex-basis: auto;
    position: relative;
    padding-bottom: 38px;
  }
}
.create-account__features {
  flex-basis: 31.177%;
  max-width: 424px;
  padding: 4.7%;
  background-color: #FFFFFF;
  border-radius: 16px;
  height: -moz-min-content;
  height: min-content;
}
@media (max-width: 1200px) {
  .create-account__features {
    flex-grow: 1;
  }
}
@media (max-width: 992px) {
  .create-account__features {
    flex-grow: initial;
    flex-basis: auto;
    max-width: 548px;
    padding: 0;
    margin-top: 64px;
    background-color: transparent;
    border-radius: 0;
  }
}
.create-account__counter {
  position: absolute;
  max-width: 191px;
  width: 100%;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .create-account__counter {
    display: none;
    visibility: hidden;
  }
}

.create-block {
  font: 400 16px "Rubik";
  color: #4A5568;
}
.create-block__title {
  margin: 0;
  font-weight: 500;
  font-size: 2.75em;
  line-height: 1.3em;
  color: #1A202C;
}
.create-block__title_highlight {
  color: #E63756;
}
@media (max-width: 992px) {
  .create-block__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .create-block__title {
    font-size: 1.563em;
    line-height: 1.16em;
  }
}
.create-block__text {
  margin: 1.333em 0 0;
  font-size: 1.125em;
  line-height: 1.667em;
}
@media (max-width: 992px) {
  .create-block__text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .create-block__text {
    font-size: 1em;
    line-height: 1.688em;
    margin-top: 1em;
  }
}
.create-block__form {
  margin-top: 4em;
}
@media (max-width: 768px) {
  .create-block__form {
    margin-top: 2.5em;
  }
}

.form-create {
  font-size: 1rem;
}
.form-create__inner {
  max-width: 318px;
}
@media (max-width: 992px) {
  .form-create__inner {
    max-width: 100%;
  }
}
.form-create__input {
  font: 400 1.125em/1.667em "Rubik";
  padding: 0.5em 1.333em;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #EAEAEA;
  border-radius: 0.444em;
  margin-top: 0.889em;
  color: #1A202C;
}
.form-create__input:first-child {
  margin-top: 0;
}
.form-create__input::-moz-placeholder {
  color: rgba(26, 32, 44, 0.4);
}
.form-create__input::placeholder {
  color: rgba(26, 32, 44, 0.4);
}
.form-create__input:focus {
  outline: 0;
  border: 1px solid rgb(208, 186, 101);
  box-shadow: rgb(254, 218, 78) 0px 0px 10px;
}
.form-create__btn {
  font: 1em/1.362em "open_sanssemibold";
  padding: 0.755em;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #E63756;
  color: #FFFFFF;
  border-radius: 0.5em;
  background-color: #E63756;
  margin-top: 1em;
  cursor: pointer;
}
.form-create__btn:hover {
  background-color: #FFFFFF;
  color: #E63756;
}
.form-create__agree {
  margin: 1.846em 0 0;
  font: 0.813em/1.4em "open_sansregular";
  letter-spacing: 0.019em;
}
.form-create__link-file {
  color: #4A5568;
  text-decoration: underline;
}
.form-create__link-file:hover {
  text-decoration: none;
}

.features-account {
  font: 400 1rem "Rubik";
  color: #1A202C;
}
@media (max-width: 992px) {
  .features-account {
    border: 1px solid #DEDEDE;
    border-radius: 0.625em;
    padding: 2em 1em 1.5em;
  }
}
.features-account__title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.4em;
}
.features-account__title_highlight {
  color: #E63756;
}
@media (max-width: 992px) {
  .features-account__title {
    text-align: center;
  }
}
.features-account__table {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
}
@media (max-width: 768px) {
  .features-account__table {
    margin-top: 1.5em;
    row-gap: 1em;
  }
}
.features-account__cell {
  font-size: 1.125em;
  line-height: 1.667em;
  padding-left: 1.889em;
  position: relative;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .features-account__cell {
    font-size: 1em;
    line-height: 1.4em;
  }
}
.features-account__cell::before {
  content: "";
  height: 1.333em;
  width: 1.333em;
  background-image: url("/img/full-create/features-account_icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.features-account__text {
  font-size: 1.125em;
  line-height: 1.667em;
  color: #4A5568;
  margin: 1.778em 0 0;
}
@media (max-width: 992px) {
  .features-account__text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .features-account__text {
    margin-top: 1.5em;
    font-size: 1em;
    line-height: 1.4em;
  }
}

.counter-account {
  font: 400 1rem "Rubik";
  box-shadow: 0 14.8px 24.39px rgba(28, 37, 44, 0.08);
  background-color: #FFFFFF;
  border-radius: 1.5em;
}
.counter-account__inner {
  padding: 0.875em 1.438em;
  text-align: center;
}
.counter-account__today {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.7em;
  color: #FFB402;
}
.counter-account__total-count {
  margin-top: 0.189em;
  font-size: 2.313em;
  line-height: 1em;
  color: #E63756;
}
.counter-account__text {
  margin: 0.077em 0 0;
  font-size: 0.813em;
  line-height: 1.7em;
  color: #4A5568;
}

.company {
  font: 1rem "Rubik";
  color: #1A202C;
  padding: 4em 0 7.313em;
}
@media (max-width: 992px) {
  .company {
    padding-top: 0;
    padding-bottom: 3.438em;
  }
}
@media (max-width: 768px) {
  .company {
    padding-bottom: 2em;
  }
}
.company__title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.4em;
  text-align: center;
  margin: 0;
}
.company__slider {
  margin-top: 5em;
  text-align: center;
}
.company__slide {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4em;
}
.company__slide:last-child {
  margin-right: 0;
}

.accordion-module {
  font-size: 1rem;
  color: #1A202C;
}
.accordion-module__title {
  font: 500 2.75em/1.364em "Rubik";
  margin: 0;
  text-align: center;
}
@media (max-width: 768px) {
  .accordion-module__title {
    font-size: 1.5em;
    line-height: 1.401em;
  }
}
.accordion-module__inner {
  margin-top: 4em;
}
@media (max-width: 768px) {
  .accordion-module__inner {
    margin-top: 2em;
  }
}
.accordion-module__card {
  font-size: 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 0.625em;
  margin-top: 1.25em;
}
.accordion-module__card:first-child {
  margin-top: 0;
}
.accordion-module__head {
  padding: 0 4.25em 0 4.25em;
  position: relative;
}
@media (max-width: 768px) {
  .accordion-module__head {
    padding-left: 1.125em;
  }
}
.accordion-module__head:hover {
  cursor: pointer;
}
.accordion-module__title-head {
  margin: 0;
  font: 1em/1.362em "open_sanssemibold";
  padding: 1em 0;
}
@media (max-width: 768px) {
  .accordion-module__title-head {
    font-size: 0.875em;
    line-height: 1.363em;
    padding: 1.25em 0;
  }
}
.accordion-module__disclosure {
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  background-color: #F2F5F9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.313em;
  top: 50%;
  transform: translateY(-50%);
}
.accordion-module__img-disclosure {
  width: 0.963em;
}
.accordion-module__body {
  color: #4A5568;
}
.accordion-module__body[data-name=body] {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.accordion-module__body-inner {
  padding: 1.688em 4.25em 2.5em;
}
@media (max-width: 768px) {
  .accordion-module__body-inner {
    padding-left: 1.125em;
    padding-right: 1.25em;
    padding-top: 1.088em;
    padding-bottom: 1.6em;
  }
}
.accordion-module__text-body {
  margin: 0;
  max-width: 732px;
  width: 100%;
  box-sizing: border-box;
  font: 1.125em/1.362em "open_sansregular";
}
@media (max-width: 768px) {
  .accordion-module__text-body {
    font-size: 1em;
    line-height: 1.4em;
  }
}
.accordion-module__text-body_link {
  color: #E63756;
}
.accordion-module__text-body_link:hover {
  text-decoration: none;
}

.try-module {
  font: 400 1rem "open_sansregular";
  color: #1A202C;
  padding: 4.875em;
  background-image: linear-gradient(to right, #FFECB3, #ffb5aa);
  border-radius: 0.875em;
  position: relative;
}
@media (max-width: 768px) {
  .try-module {
    padding: 3.063em 2.5%;
    border-radius: 0;
  }
}
.try-module__inner {
  max-width: 490px;
  position: relative;
  z-index: 10;
}
@media (max-width: 992px) {
  .try-module__inner {
    text-align: center;
    margin: 0 auto;
  }
}
.try-module__title {
  margin: 0;
  font: 500 2.5em/1.1em "Rubik";
}
@media (max-width: 768px) {
  .try-module__title {
    font-size: 1.5em;
    line-height: 1.834em;
  }
}
.try-module__text {
  margin: 0.938em 0 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #4A5568;
}
@media (max-width: 768px) {
  .try-module__text {
    font-size: 1em;
    line-height: 1.5em;
  }
}
.try-module__group-btns {
  margin-top: 1.875em;
}
.try-module__btn {
  font: 400 1em/1.875em "open_sansregular";
  border-radius: 0.5em;
  min-width: 192px;
  padding: 0.5em;
  margin-right: 1.875em;
  border: 2px solid #E63756;
  color: #FFFFFF;
  background-color: #E63756;
}
@media (max-width: 768px) {
  .try-module__btn {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}
.try-module__btn:last-child {
  margin-right: 0;
}
.try-module__btn:hover {
  cursor: pointer;
}
.try-module__btn_create:hover {
  background-color: #FFFFFF;
  color: #E63756;
}
.try-module__btn_demo {
  background-color: #FFFFFF;
  color: #E63756;
}
@media (max-width: 768px) {
  .try-module__btn_demo {
    margin-top: 1em;
  }
}
.try-module__btn_demo:hover {
  background-color: #E63756;
  color: #FFFFFF;
}
.try-module__ground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/img/modules/try/try-caricature.png");
  background-position: bottom 35% right 4.625em;
  background-repeat: no-repeat;
  background-size: 40.417% auto;
  z-index: 5;
}
@media (max-width: 1200px) {
  .try-module__ground {
    background-size: 30% auto;
  }
}
@media (max-width: 992px) {
  .try-module__ground {
    background: none;
    display: none;
    visibility: hidden;
  }
}

.itc-slider {
  margin-top: 83px;
}
@media (max-width: 992px) {
  .itc-slider {
    margin-top: 36px;
  }
}
.itc-slider__items {
  justify-content: center;
}
@media (max-width: 576px) {
  .itc-slider__items {
    justify-content: initial;
  }
}
.itc-slider__item {
  flex: none;
  max-width: none;
}
@media (max-width: 992px) {
  .itc-slider__item {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media (max-width: 576px) {
  .itc-slider__item {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
.itc-slider__indicators {
  transform: translateY(100%);
  bottom: -9px;
  display: none;
}
@media (max-width: 992px) {
  .itc-slider__indicators {
    display: flex;
  }
}
.itc-slider__indicator {
  background-color: #CBD5E0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 0px;
  margin-left: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.itc-slider__indicator_active {
  background-color: #E63756;
}
.itc-slider .company__wrapper-img-slide {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}
@media (max-width: 992px) {
  .itc-slider .company__wrapper-img-slide {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 10px 20px;
    min-height: 196px;
  }
}
@media (max-width: 992px) {
  .itc-slider .company__img-slide {
    max-width: 100%;
  }
}/*# sourceMappingURL=full-create.css.map */