@import "modules/fonts-standart";
@import "modules/colors";
@import "modules/calculations";

// default font-size
$browser-font-size: 16;

.full-create {
  margin: 0;
  &__main {
  }
  &__container {
    max-width: 1360px;
    width: 95%;
    margin: 88px auto 0;
    @media (max-width: 992px) {
      margin-top: 64px;
    }
    @media (max-width: 768px) {
      margin-top: em(64);
    }
  }
  &__ground-inner {
    position: relative;
    overflow-x: hidden;
  }
  &__ground-header {
    width: 2050px;
    background-image: linear-gradient(to top, #F7FAFC, rgba(#F7FAFC, 0));
    border-bottom-left-radius: 120% 28%;
    border-bottom-right-radius: 120% 28%;
    z-index: -1;
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__ground-header_upper {
    border-bottom-left-radius: 60% 56%;
    border-bottom-right-radius: 60% 56%;
    @media (min-width: 993px) {
      visibility: hidden;
      display: none;
    }
  }
  &__ground-header_lower {
    @media (max-width: 992px) {
      visibility: hidden;
      display: none;
    }
  }
  &__try {
    @media (max-width: 768px) {
      margin-right: -2.5%;
      margin-left: -2.5%;
    }
  }
}

.create-account {
  display: flex;
  position: relative;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
  &__form {
    flex-basis: 40.294%;
    max-width: 548px;
    margin-right: 10.8%;
    @media (max-width: 1200px) {
      flex-basis: 52.294%;
      margin-right: 4.8%;
    }
    @media (max-width: 992px) {
      margin-right: 0;
      flex-basis: auto;
      position: relative;
      padding-bottom: 38px;
    }
  }
  &__features {
    flex-basis: 31.177%;
    max-width: 424px;
    padding: 4.7%;
    @media (max-width: 1200px) {
      flex-grow: 1;
    }
    @media (max-width: 992px) {
      flex-grow: initial;
      flex-basis: auto;
      max-width: 548px;
      padding: 0;
      margin-top: 64px;
    }
  }
  &__counter {
    position: absolute;
    max-width: 191px;
    width: 100%;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    @media (max-width: 992px) {
      display: none;
      visibility: hidden;
    }
  }
}

.create-block {
  font: 400 16px 'Rubik';
  color: $grey;
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 2.750em;
    line-height: 1.300em;
    color: $black;
    &_highlight {
      color: $main;
    }
    @media (max-width: 992px) {
      text-align: center;
    }
    @media (max-width: 768px) {
      @include em(25, 29);
    }
  }
  &__text {
    margin: 1.333em 0 0;
    font-size: 1.125em;
    line-height: 1.667em;
    @media (max-width: 992px) {
      text-align: center;
    }
    @media (max-width: 768px) {
      @include em(16, 27);
      margin-top: em(16);
    }
  }
  &__form {
    margin-top: 4.000em;
    @media (max-width: 768px) {
      margin-top: em(40);
    }
  }
}

.form-create {
  font-size: 1rem;
  &__inner {
    max-width: 318px;
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }
  &__input {
    font: 400 1.125em/1.667em 'Rubik';
    padding: 0.500em 1.333em;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px $light-grey;
    border-radius: 0.444em;
    margin-top: 0.889em;
    color: $black;
  }
  &__input:first-child {
    margin-top: 0;
  }
  &__input::placeholder {
    color: rgba($black, .4);
  }
  &__input:focus {
    outline: 0;
    border: 1px solid rgb(208, 186, 101);
    box-shadow: rgb(254 218 78) 0px 0px 10px;
  }
  &__btn {
    font: 1em/1.362em 'open_sanssemibold';
    padding: 0.755em;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid $main;
    color: $white;
    border-radius: 0.500em;
    background-color: $main;
    margin-top: 1em;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: $white;
    color: $main;
  }
  &__agree {
    margin: 1.846em 0 0;
    font: 0.813em/1.400em 'open_sansregular';
    letter-spacing: 0.019em;
  }
  &__link-file {
    color: $grey;
  }
  &__link-file:hover {
    text-decoration: none;
  }
}

.features-account {
  font: 400 1rem 'Rubik';
  color: $black;
  @media (max-width: 992px) {
    border: 1px solid #DEDEDE;
    border-radius: em(10);
    padding: em(32) em(16) em(24);
  }
  &__title {
    margin: 0;
    font-size: 1.500em;
    font-weight: 500;
    line-height: 1.400em;
    &_highlight {
      color: $main;
    }
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  &__table {
    margin-top: 2.000em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.500em;
    @media (max-width: 768px) {
      margin-top: em(24);
      row-gap: 1em;
    }
  }
  &__cell {
    font-size: 1.125em;
    line-height: 1.667em;
    padding-left: 1.889em;
    position: relative;
    vertical-align: middle;
    @media (max-width: 768px) {
      @include em(16, 22.4);
    }
  }
  &__cell::before {
    content: '';
    height: 1.333em;
    width: 1.333em;
    background-image: url('../img/full-create/features-account_icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    font-size: 1.125em;
    line-height: 1.667em;
    color: $grey;
    margin: 1.778em 0 0;
    @media (max-width: 992px) {
      text-align: center;
    }
    @media (max-width: 768px) {
      margin-top: em(24);
      @include em(16, 22.4);
    }
  }
}

.counter-account {
  font: 400 1rem 'Rubik';
  box-shadow: 0 14.8px 24.39px rgba(28, 37, 44, 0.08);
  background-color: $white;
  border-radius: 1.500em;
  &__inner {
    padding: 0.875em 1.438em;
    text-align: center;
  }
  &__today {
    margin: 0;
    font-size: 1.250em;
    line-height: 1.700em;
    color: $yellow;
  }
  &__total-count {
    margin-top: 0.189em;
    font-size: 2.313em;
    line-height: 1em;
    color: $main;
  }
  &__text {
    margin: 0.077em 0 0;
    font-size: 0.813em;
    line-height: 1.700em;
    color: $grey;
  }
}

.company {
  font: 1rem 'Rubik';
  color: $black;
  padding: 4.000em 0 7.313em;
  @media (max-width: 992px) {
    padding-top: 0;
    padding-bottom: em(55);
  }
  @media (max-width: 768px) {
    padding-bottom: em(32);
  }
  &__title {
    font-size: 1.500em;
    font-weight: 500;
    line-height: 1.400em;
    text-align: center;
    margin: 0;
  }
  &__slider {
    margin-top: 5.000em;
    text-align: center;
  }
  &__slide {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4.000em;
  }
  &__slide:last-child {
    margin-right: 0;
  }
}

.accordion-module {
  font-size: 1rem;
  color: $black;
  &__title {
    font: 500 2.750em/1.364em 'Rubik';
    margin: 0;
    text-align: center;
    @media (max-width: 768px) {
      @include em(24, 33.6);
    }
  }
  &__inner {
    margin-top: 4.000em;
    @media (max-width: 768px) {
      margin-top: em(32);
    }
  }
  &__card {
    font-size: 1rem;
    border: 1px solid $light-grey;
    border-radius: 0.625em;
    margin-top: 1.250em;
  }
  &__card:first-child {
    margin-top: 0;
  }
  &__head {
    padding: 0 4.250em 0 4.250em;
    position: relative;
    @media (max-width: 768px) {
      padding-left: em(18);
    }
  }
  &__head:hover {
    cursor: pointer;
  }
  &__title-head {
    margin: 0;
    font: 1em/1.362em 'open_sanssemibold';
    padding: 1em 0;
    @media (max-width: 768px) {
      @include em(14, 19.07);
      padding: em(20) 0;
    }
  }
  &__disclosure {
    height: 1.750em;
    width: 1.750em;
    border-radius: 50%;
    background-color: #F2F5F9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.313em;
    top: 50%;
    transform: translateY(-50%);
  }
  &__img-disclosure {
    width: 0.963em;
  }
  &__body {
    color: $grey;
  }
  &__body[data-name="body"] {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }
  &__body-inner {
    padding: 1.688em 4.250em 2.500em;
    max-width: 732px;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 768px) {
      padding-left: em(18);
      padding-right: em(20);
      padding-top: 1.088em;
      padding-bottom: 1.6em;
    }
  }
  &__text-body {
    margin: 0;
    font: 1.125em/1.362em 'open_sansregular';
    @media (max-width: 768px) {
      @include em(16, 22.4);
    }
  }
  &__text-body_link {
    color: $main;
  }
  &__text-body_link:hover {
    text-decoration: none;
  }
}

.try-module {
  font: 400 1rem 'open_sansregular';
  color: $black;
  padding: 4.875em;
  background-image: linear-gradient(to right, #FFECB3, #ffb5aa);
  border-radius: 0.875em;
  position: relative;
  @media (max-width: 768px) {
    padding: em(49) 2.5%;
    border-radius: 0;
  }
  &__inner {
    max-width: 490px;
    position: relative;
    z-index: 10;
    @media (max-width: 992px) {
      text-align: center;
      margin: 0 auto;
    }
  }
  &__title {
    margin: 0;
    font: 500 2.500em/1.100em 'Rubik';
    @media (max-width: 768px) {
      @include em(24, 44);
    }
  }
  &__text {
    margin: 0.938em 0 0;
    font-size: 1em;
    line-height: 1.500em;
    color: $grey;
    @media (max-width: 768px) {
      @include em(16, 24);
    }
  }
  &__group-btns {
    margin-top: 1.875em;
  }
  &__btn {
    font: 400 1em/1.875em "open_sansregular";
    border-radius: 0.500em;
    min-width: 192px;
    padding: em(8);
    margin-right: 1.875em;
    border: 2px solid $main;
    color: $white;
    background-color: $main;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }
  &__btn:last-child {
    margin-right: 0;
  }
  &__btn:hover {
    cursor: pointer;
  }
  &__btn_create:hover {
    background-color: $white;
    color: $main;
  }
  &__btn_demo {
    background-color: $white;
    color: $main;
    // padding: em(9);
    // border: 1px solid $main;
    @media (max-width: 768px) {
      margin-top: em(16);
    }
  }
  &__btn_demo:hover {
    background-color: $main;
    color: $white;
  }
  &__ground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/modules/try/try-caricature.png');
    background-position: bottom 35% right 4.625em;
    background-repeat: no-repeat;
    background-size: 40.417% auto;
    z-index: 5;
    @media (max-width: 1200px) {
      background-size: 30% auto;
    }
    @media (max-width: 992px) {
      background: none;
      display: none;
      visibility: hidden;
    }
  }
}

// Слайдер
.itc-slider {
  margin-top: 83px;
  @media (max-width: 992px) {
    margin-top: 36px;
  }
  &__items {
    justify-content: center;
    @media (max-width: 576px) {
      justify-content: initial;
    }
  }
  &__item {
    flex: none;
    max-width: none;
    @media (max-width: 992px) {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
    @media (max-width: 576px) {
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
  &__indicators {
    transform: translateY(100%);
    bottom: -9px;
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }
  &__indicator {
    background-color: #CBD5E0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  &__indicator_active {
    background-color: $main;
  }
  & .company {
    &__wrapper-img-slide {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 32px;
      margin-right: 32px;
      @media (max-width: 992px) {
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 9px;
        padding: 10px 20px;
        min-height: 196px;
      }
    }
    &__img-slide {
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }
  }
}