@import "modules/fonts-standart";
@import "modules/colors";

.full-create {
  margin: 0;
  &__container {
    max-width: 1360px;
    width: 95%;
    margin: 88px auto 0;
  }
  &__container:nth-child(n+4) {
    background-color: $green;
  } 
}

.create-account {
  display: flex;
  position: relative;
  &__form {
    flex-basis: 40.294%;
    max-width: 548px;
  }
  &__features {
    flex-basis: 31.177%;
    max-width: 424px;
    padding: 4.7%;
    margin-left: 10.8%;
  }
  &__counter {
    position: absolute;
    max-width: 191px;
    width: 100%;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

.create-block {
  font: 400 16px 'Rubik';
  color: $grey;
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 2.750em;
    line-height: 1.300em;
    color: $black;
    &_highlight {
      color: $main;
    }
  }
  &__text {
    margin: 1.333em 0 0;
    font-size: 1.125em;
    line-height: 1.667em;
  }
  &__form {
    margin-top: 4.000em;
  }
}

.form-create {
  font-size: 1rem;
  &__inner {
    max-width: 318px;
  }
  &__input {
    font: 400 1.125em/1.667em 'Rubik';
    padding: 0.500em 1.333em;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px $light-grey;
    border-radius: 0.444em;
    margin-top: 0.889em;
    color: $black;
  }
  &__input:first-child {
    margin-top: 0;
  }
  &__input::placeholder {
    color: rgba(102, 102, 102, 1);
  }
  &__btn {
    font: 1em/1.362em 'open_sanssemibold';
    padding: 0.813em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $main;
    color: $white;
    border-radius: 0.500em;
    background-color: $main;
    margin-top: 1em;
    cursor: pointer;
  }
  &__agree {
    margin: 1.846em 0 0;
    font: 0.813em/1.400em 'open_sansregular';
    letter-spacing: 0.019em;
  }
}

.features-account {
  font: 400 1rem 'Rubik';
  color: $black;
  &__title {
    margin: 0;
    font-size: 1.500em;
    font-weight: 500;
    line-height: 1.400em;
    &_highlight {
      color: $main;
    }
  }
  &__table {
    margin-top: 2.000em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.500em;
  }
  &__cell {
    font-size: 1.125em;
    line-height: 1.667em;
    padding-left: 1.889em;
    position: relative;
    vertical-align: middle;
  }
  &__cell::before {
    content: '';
    height: 1.333em;
    width: 1.333em;
    background-image: url('../img/full-create/features-account_icon.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    font-size: 1.125em;
    line-height: 1.667em;
    color: $grey;
    margin: 1.778em 0 0;
  }
}

.counter-account {
  font: 400 1rem 'Rubik';
  box-shadow: 0 14.8px 24.39px rgba(28, 37, 44, 0.08);
  background-color: $white;
  border-radius: 1.500em;
  &__inner {
    padding: 0.875em 1.438em;
    text-align: center;
  }
  &__today {
    margin: 0;
    font-size: 1.250em;
    line-height: 1.700em;
    color: $yellow;
  }
  &__total-count {
    margin-top: 0.189em;
    font-size: 2.313em;
    line-height: 1em;
    color: $main;
  }
  &__text {
    margin: 0.077em 0 0;
    font-size: 0.813em;
    line-height: 1.700em;
    color: $grey;
  }
}

.company {
  font: 1rem 'Rubik';
  color: $grey;
  padding: 4.000em 0 7.313em;
  &__title {
    font-size: 1.500em;
    font-weight: 500;
    line-height: 1.400em;
    text-align: center;
  }
  &__slider {
    margin-top: 5.000em;
    text-align: center;
  }
  &__slide {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4.000em;
  }
  &__slide:last-child {
    margin-right: 0;
  }
}

.accordion-module {
  font-size: 1rem;
  color: $black;
  &__title {
    font: 500 2.750em/1.364em 'Rubik';
    margin: 0;
    text-align: center;
  }
  &__inner {
    margin-top: 4.000em;
  }
  &__card {
    font-size: 1rem;
    border: 1px solid $light-grey;
    border-radius: 0.625em;
    margin-top: 1.250em;
  }
  &__card:first-child {
    margin-top: 0;
  }
  &__head {
    border-bottom: 1px solid $light-grey;
    padding: 0 4.250em 0 4.250em;
    position: relative;
  }
  &__head:hover {
    cursor: pointer;
  }
  &__title-head {
    margin: 0;
    font: 1em/1.362em 'open_sanssemibold';
    padding: 1em 0;
  }
  &__disclosure {
    height: 1.750em;
    width: 1.750em;
    border-radius: 50%;
    background-color: #F2F5F9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.313em;
    top: 50%;
    transform: translateY(-50%);
  }
  &__img-disclosure {
    width: 0.963em;
  }
  &__body {
    color: $grey;
  }
  &__body-inner {
    padding: 1.688em 4.250em 2.500em;
    max-width: 732px;
    width: 100%;
  }
  &__text-body {
    font: 1.125em/1.362em 'open_sansregular';
  }
  &__text-body_link {
    color: $main;
  }
  &__text-body_link:hover {
    text-decoration: none;
  }
}